.button {
  background-color: rgb(245, 245, 240);
  color: #111111;
  border-radius: 12px;
  justify-content: center;
  padding: 12px 24px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-size: 16px;
  line-height: 150%;
}
